

@{
    int count = 0;
}

<div class="container">
    <h1>Categories</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
                <th scope="col">Company</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product item in ViewBag.Product)
            {
                count++;
                <tr>
                    <th scope="row">@count</th>
                    <td>@item.Id</td>
                    <td>@item.Name</td>

                    <td>@item.Price</td>
                    <td>@item.Category.CategoryName</td>
                    <td>@item.Company.CompanyName</td>

                    <td>
                        <a class="btn secondary" asp-action="Update" asp-route-Id=@item.Id>Update</a>
                        <a class="btn danger" asp-action="Delete" asp-route-Id=@item.Id>Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <a class="btn btn-primary" asp-action="Create">Create</a>

</div>